body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 25px;
  /* grid-template-rows: repeat(auto-fit, 250px); */
}

.display-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  width: 250px;
  border: 2px solid black;
}
