body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.cards {
  width: 30vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.display-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  width: 250px;
  border: 2px solid black;
}

form {
  /* border: 2px solid black; */
}

.form-content {
  display: flex;
  flex-direction: column;
}
